form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    label{
        font-weight: bold;
        font-size: 1rem;
        color: #000;
    }

    input{
        padding: 12px 15px;
        font-size: 1rem;
        border: 1px solid #b7b7b7;
        border-radius: 8px;
        background-color: #fff;
        color: #000;
    }
}

button{
    padding: 12px;
    background-color: #003a77;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}


.error-message{
    background-color: red;
    color: #000;
    border: 1px solid #000;
}